In [1]:
SERVICE_KEY='6961566f586e613932374279584264'

In [6]:
URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/1/5/'

In [7]:
import requests
import json
import pandas as pd

req= requests.get(URL)
req

In [12]:
content=req.json()
result=pd.DataFrame(content['tbLnOpendataRtmsV']['row'])
result

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2024,11560,영등포구,10200,영등포동1가,1,대지,0121,0005,여의도리슈빌DS,...,20600,21.41,31.43,7.0,,,2020,오피스텔,중개거래,서울 영등포구
1,2024,11740,강동구,10900,천호동,1,대지,0090,0002,도우빌라,...,36700,48.69,46.66,-1.0,,,1991,연립다세대,중개거래,서울 강동구
2,2024,11320,도봉구,10800,도봉동,1,대지,0051,0012,중흥에스-클래스,...,55000,85.00,0.00,3.0,,,2004,아파트,중개거래,서울 도봉구
3,2024,11545,금천구,10200,독산동,1,대지,1006,0115,중앙하이빌1동2동,...,23000,28.68,14.88,4.0,,,2016,연립다세대,직거래,
4,2024,11590,동작구,10300,상도1동,1,대지,0419,0003,종로빌리지,...,40000,69.13,48.37,3.0,,,1991,연립다세대,중개거래,서울 강남구

In [13]:
URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/xml/tbLnOpendataRtmsV/1/5/'

In [19]:
from bs4 import BeautifulSoup

req=requests.get(URL)
soup=BeautifulSoup(req.content,'lxml')
#print(soup.prettify())

C:\Users\na990\AppData\Local\Temp\ipykernel_19384\932208229.py:4: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  soup=BeautifulSoup(req.content,'lxml')

In [20]:
data = []
for row_elem in soup.find_all('row'):
    row_data = {}
    for field_elem in row_elem.find_all(True, recursive=False):
        row_data[field_elem.name] = field_elem.text.strip()
    data.append(row_data)

In [21]:
df = pd.DataFrame(data)
df

,acc_year,sgg_cd,sgg_nm,bjdong_cd,bjdong_nm,land_gbn,land_gbn_nm,bonbeon,bubeon,bldg_nm,...,obj_amt,bldg_area,tot_area,floor,right_gbn,cntl_ymd,build_year,house_type,req_gbn,rdealer_lawdnm
0,2024,11560,영등포구,10200,영등포동1가,1,대지,0121,0005,여의도리슈빌DS,...,20600,21.41,31.430000,7,,,2020,오피스텔,중개거래,서울 영등포구
1,2024,11740,강동구,10900,천호동,1,대지,0090,0002,도우빌라,...,36700,48.69,46.660000,-1,,,1991,연립다세대,중개거래,서울 강동구
2,2024,11320,도봉구,10800,도봉동,1,대지,0051,0012,중흥에스-클래스,...,55000,85,0.000000,3,,,2004,아파트,중개거래,서울 도봉구
3,2024,11545,금천구,10200,독산동,1,대지,1006,0115,중앙하이빌1동2동,...,23000,28.68,14.880000,4,,,2016,연립다세대,직거래,
4,2024,11590,동작구,10300,상도1동,1,대지,0419,0003,종로빌리지,...,40000,69.13,48.370000,3,,,1991,연립다세대,중개거래,서울 강남구

In [100]:
## 공공데이터 포털
PUBLIC_SERVICE_KEY='rONzFr5eZ66p1CAiNbCH0F9HHC9uTLkt5ARpa8wbcqmy6xIv%2FX89qWzJKvJSg10%2BPk6%2Fw72WGQhDQrs0svMdeg%3D%3D'
pageNo = 1 # 페이지 번호
numOfRows = 500 # 한 페이지 결과수
LAWD_CD = 11500 # 지역코드
DEAL_YMD = 202101 # 계약월
url = f'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey={PUBLIC_SERVICE_KEY}&pageNo={pageNo}&numOfRows={numOfRows}&LAWD_CD={LAWD_CD}&DEAL_YMD={DEAL_YMD}'
req = requests.get(url)
req

In [101]:
req.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>99</resultCode><resultMsg>SERVICE KEY IS NOT REGISTERED ERROR.</resultMsg></header></response>'

In [32]:
import xmltodict

In [29]:
'''
contents=xmltodict.parse(req.text)
data=pd.DataFrame(contents['response']['body']['items']['item'])
data.head()
'''

ModuleNotFoundError: No module named 'xlmtodict'

In [36]:
#다중 데이터 수집
SERVICE_KEY='6961566f586e613932374279584264'
URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/1/5/'
URL

'http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1/5/'

In [84]:
for i in range(1,10):
    URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{1+(i-1)*1000}/{i*1000}/'
    print(URL)

http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1/1000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1001/2000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/2001/3000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/3001/4000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/4001/5000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/5001/6000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/6001/7000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/7001/8000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/8001/9000/

In [86]:
import warnings
warnings.filterwarnings('ignore')

In [87]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random

company_code = '005930' # 삼성전자
#url ="https://finance.naver.com/item/sise_day.nhn?code=" + company_code
    
headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }
df=None
for n in range(1,13):
    url=f"https://finance.naver.com/item/sise_day.naver?code=005930&page={n}"
    response = requests.get(url, headers=headers)
    soup=BeautifulSoup(response.content,'html.parser')
    result=pd.read_html(response.text, encoding='euc-kr')[0]
    df=pd.concat([df,result],ignore_index=True)
df.dropna(inplace=True)

In [88]:
df

             날짜       종가     전일비       시가       고가       저가         거래량
1    2024.02.01  73500.0   800.0  73000.0  74200.0  72900.0   9119409.0
2    2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  15703560.0
3    2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
4    2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
5    2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
..          ...      ...     ...      ...      ...      ...         ...
189  2023.07.28  70600.0  1100.0  71800.0  72400.0  70100.0  19420683.0
190  2023.07.27  71700.0  1900.0  69900.0  71700.0  69300.0  24261179.0
191  2023.07.26  69800.0   200.0  69800.0  70600.0  68100.0  30016221.0
192  2023.07.25  70000.0   400.0  70000.0  70500.0  69800.0  14314945.0
193  2023.07.24  70400.0   100.0  70100.0  70900.0  69900.0  13418597.0

[130 rows x 7 columns]

In [97]:
df=None
for i in range(1,3):
    URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{1+(i-1)*1000}/{i*1000}/'
    print(URL)
    req= requests.get(URL)
    content=req.json()
    result=pd.DataFrame(content['tbLnOpendataRtmsV']['row'])
    df=pd.concat([df,result])
df=df.reset_index(drop=True)
df

http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1/1000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1001/2000/

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2024,11560,영등포구,10200,영등포동1가,1,대지,0121,0005,여의도리슈빌DS,...,20600,21.41,31.43,7.0,,,2020,오피스텔,중개거래,서울 영등포구
1,2024,11740,강동구,10900,천호동,1,대지,0090,0002,도우빌라,...,36700,48.69,46.66,-1.0,,,1991,연립다세대,중개거래,서울 강동구
2,2024,11320,도봉구,10800,도봉동,1,대지,0051,0012,중흥에스-클래스,...,55000,85.00,0.00,3.0,,,2004,아파트,중개거래,서울 도봉구
3,2024,11545,금천구,10200,독산동,1,대지,1006,0115,중앙하이빌1동2동,...,23000,28.68,14.88,4.0,,,2016,연립다세대,직거래,
4,2024,11590,동작구,10300,상도1동,1,대지,0419,0003,종로빌리지,...,40000,69.13,48.37,3.0,,,1991,연립다세대,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2024,11440,마포구,12500,성산동,1,대지,0590,0001,상암 두산위브센티움,...,16500,23.69,33.77,8.0,,,2013,오피스텔,중개거래,서울 마포구
1996,2024,11440,마포구,12500,성산동,1,대지,0592,0008,마포클레세,...,20500,20.53,33.01,8.0,,,2022,오피스텔,직거래,
1997,2024,11305,강북구,10300,수유동,1,대지,0410,0141,동아하이츠빌라,...,16300,40.32,25.47,1.0,,,1994,연립다세대,중개거래,서울 강북구
1998,2024,11560,영등포구,13200,신길동,1,대지,4955,0000,신길센트럴아이파크,...,102000,59.97,0.00,12.0,,,2019,아파트,중개거래,서울 영등포구
1999,2024,11380,은평구,11400,진관동,1,대지,0009,0000,은평지웰테라스,...,78250,84.31,97.73,2.0,,,2017,연립다세대,중개거래,서울 은평구